apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - name: python-app
          image: registry.digitalocean.com/krishnaregistry/newpythonapp1:15
          ports:
            - containerPort: 8000 # Make sure this matches the port your app runs on
          imagePullPolicy: Always
